In [1]:
! pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\programdata\anaconda3\lib\site-packages
Requirement already satisfied: requests-ftp in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: requests-file in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from requests-file->pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandas_datareader)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas->pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandas_datareader)

In [2]:
import pandas_datareader
?pandas_datareader.DataReader

In [3]:
df = pandas_datareader.DataReader('BABA', data_source='yahoo')

In [4]:
df.tail()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2017-04-17,110.910004,111.870003,110.300003,111.760002,6498300,111.760002
2017-04-18,111.199997,112.199997,110.866997,111.230003,8271300,111.230003
2017-04-19,111.989998,112.199997,110.570000,110.760002,9571500,110.760002
2017-04-20,111.529999,113.599998,111.480003,112.959999,13743300,112.959999
2017-04-21,112.800003,113.169998,112.300003,113.110001,8945100,113.110001

In [5]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [12]:
df['Close'].sum()
df['Close'].mean()
df['Close'].std()
df['Close'].min()
df['Close'].max()
df['Close'].count()

652

In [14]:
df[['Open', 'Close']].min()
df[['Open', 'Close']].max()

Open     119.300003
Close    119.150002
dtype: float64

In [15]:
df.describe()

,Open,High,Low,Close,Volume,Adj Close
count,652.000000,652.000000,652.000000,652.000000,6.520000e+02,652.000000
mean,87.538501,88.564590,86.416227,87.473037,1.663195e+07,87.473037
std,13.264536,13.262912,13.175247,13.208376,1.500740e+07,13.208376
min,57.299999,58.650002,57.200001,57.389999,3.775300e+06,57.389999
25%,78.620001,79.550003,78.034998,78.827502,9.638550e+06,78.827502
50%,85.360000,86.134998,84.229999,85.145000,1.303220e+07,85.145000
75%,99.459999,100.187500,97.639997,98.860002,1.848135e+07,98.860002
max,119.300003,120.000000,115.199997,119.150002,2.718794e+08,119.150002

In [16]:
df.head()

                 Open       High        Low      Close     Volume  Adj Close
Date
2014-09-19  92.699997  99.699997  89.949997  93.889999  271879400  93.889999
2014-09-22  92.699997  92.949997  89.500000  89.889999   66657800  89.889999
2014-09-23  88.940002  90.480003  86.620003  87.169998   39009800  87.169998
2014-09-24  88.470001  90.570000  87.220001  90.570000   32088000  90.570000
2014-09-25  91.089996  91.500000  88.500000  88.919998   28598000  88.919998

In [18]:
df['diff'] = df['Close'] - df['Open']

In [21]:
df['rise'] = df['diff'] > 0

In [23]:
df['fall'] = df['diff'] < 0

In [25]:
df[['rise', 'fall']].sum()

rise    308
fall    341
dtype: int64

In [30]:
#df[df.index >= '2017-04-01']

In [34]:
df.ix[ df.index >= '2017-04-01'   ,  ['rise', 'fall']   ].sum()

rise    8
fall    6
dtype: int64

In [38]:
#df.index.year
#df.index.month

In [40]:
df.groupby([df.index.year, df.index.month])['rise', 'fall'].sum().unstack()

     rise                                                        ...   fall  \
       1     2     3     4     5     6     7     8     9     10  ...     3
2014  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0  11.0  ...    NaN
2015  7.0   6.0   9.0   5.0   9.0   7.0   7.0   9.0  12.0  17.0  ...   13.0
2016  8.0  11.0  14.0  10.0  12.0  11.0  11.0  15.0  12.0   5.0  ...    8.0
2017  9.0   7.0  13.0   8.0   NaN   NaN   NaN   NaN   NaN   NaN  ...   10.0


        4     5     6     7     8    9     10    11    12
2014   NaN   NaN   NaN   NaN   NaN  5.0  11.0   9.0  11.0
2015  16.0  11.0  15.0  15.0  11.0  9.0   5.0   9.0  12.0
2016  11.0   9.0  11.0   9.0   8.0  9.0  16.0  13.0  10.0
2017   6.0   NaN   NaN   NaN   NaN  NaN   NaN   NaN   NaN

[4 rows x 24 columns]

In [42]:
df['ret'] = df['Close'].pct_change(1)

In [43]:
df.head()

,Open,High,Low,Close,Volume,Adj Close,diff,rise,fall,ret
Date,,,,,,,,,,
2014-09-19,92.699997,99.699997,89.949997,93.889999,271879400,93.889999,1.190002,True,False,NaN
2014-09-22,92.699997,92.949997,89.500000,89.889999,66657800,89.889999,-2.809998,False,True,-0.042603
2014-09-23,88.940002,90.480003,86.620003,87.169998,39009800,87.169998,-1.770004,False,True,-0.030259
2014-09-24,88.470001,90.570000,87.220001,90.570000,32088000,90.570000,2.099999,True,False,0.039004
2014-09-25,91.089996,91.500000,88.500000,88.919998,28598000,88.919998,-2.169998,False,True,-0.018218

In [47]:
# SELECT year, month, AVG(ret) FROM BABA GROUP BY year, month
df.groupby([df.index.year, df.index.month])['ret'].mean().unstack()

,1,2,3,4,5,6,7,8,9,10,11,12
2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.007505,0.004684,0.006855,-0.003032
2015,-0.007300,-0.002288,-0.000887,-0.001013,0.004937,-0.003658,-0.002132,-0.007696,-0.005081,0.016434,0.000327,-0.001356
2016,-0.009706,0.001661,0.006436,-0.001206,0.003305,-0.001149,0.001888,0.007348,0.004273,-0.001821,-0.003607,-0.003149
2017,0.007288,0.000880,0.002091,0.003469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN